$primary_font: 'Open Sans', sans-serif;
$secondary_font: 'Comic Neue', 'Open Sans', sans-serif;

$base_font_size: 14px;

$h1_font_size: 3rem;
$h2_font_size: 2.5rem;
$h3_font_size: 2rem;
$h4_font_size: 1.5rem;
$h5_font_size: 1rem;
$h6_font_size: .75rem;
$regular_font_size: 1rem;
$button_font_size: 1rem;
$post_font_size: 1.2rem;

$font_weight_medium: 600;